# Python Essentials

## Numbers

In [ ]:
# A Comment

# Integers are whole numbers
# Floats are decimal numbers

In [ ]:
3+2

In [ ]:
3*2

In [ ]:
3/2

In [ ]:
# returns only the whole part following division; floor division

3//2

In [ ]:
# modulus: returns the remainder after division

3%2

In [ ]:
# exponent

3**2

## Variables

In [ ]:
"""

Variables:
    can only be one word.
    can use only letters, numbers, and the underscore (_) character.
    canâ€™t begin with a number.
    are case-sensitive (data, Data and DATA would be different variable names).
    
"""

In [ ]:
apples = 3
bananas = 2

apples + bananas

In [ ]:
apples = apples+apples

apples

## Strings

In [ ]:
'This is fun!'

In [ ]:
"Isn't this fun?"

## Print()

In [ ]:
print("apples")

In [ ]:
print(apples)

In [ ]:
# print formating

name = "Angela"

print("{} ate all {} of the apples.".format(name, apples))

In [ ]:
# f-string

print(f"{name} ate all {apples} of the apples.")

## Lists

In [ ]:
# create a list using square brackets

[1,2,3,4,5]

In [ ]:
L = [1, 'two', 3, 4, 5]

L

In [ ]:
# access list items using index notation. The first item is at index position 0.

# List:                [1, 'two', 3, 4, 5]
# index position:       0    1    2  3  4 

L[0]

In [ ]:
# Replace an item in a list

L[1] = 2

L

In [ ]:
# Get the quantity of items in a list (the length)

len(L)

In [ ]:
# Sort a list

L2 = [55, 21, 34, 12, 8, 9]

#L2.sort()    # sorts the list in place
sorted(L2)  # returns a new sorted list

In [ ]:
L2

In [ ]:
# Concatenate a list

[96, 97] + [98, 99]

In [ ]:
# Extend a list

[1,2,3]*2

### List slicing

In [ ]:
L3 = [1,2,3,4,5]

In [ ]:
L3[0:3]

In [ ]:
L3[3:]

In [ ]:
# use negatives to count from the end of the list

L3[-1]      # returns the last item

In [ ]:
# A second colon (:) can be used to indicate step-size. 
# list[start:stop:stepsize]

L3[::2]

In [ ]:
# returns a reversed copy of the list

L3[::-1]

## Dictionaries

In [ ]:
d = {"key1": "Kim Mills", "key2": ["Data Science", "2022"]}

In [ ]:
d["key1"]

In [ ]:
d["key2"][1]

In [ ]:
d["key3"] = "San Francisco"

d

## Tuples

In [ ]:
tup = (1,2,3,4,5,6)

In [ ]:
tup[:2]

In [ ]:
# tup[0] = 'new'     # immutable, will get an error

In [ ]:
# unpacking: assign multiple values at once

num1, num2, num3 = (5,11,15)

print(num2)

## Sets

In [ ]:
{1,2,3,1,2,3, None, None}

In [ ]:
a_list = [5,10,15,15,10,5]

a_set = set(a_list)

a_set

## Booleans

In [ ]:
True

In [ ]:
False

### Boolean Operators
and, or, not

In [ ]:
True and True

In [ ]:
True and False

In [ ]:
True or False

In [ ]:
not False

### Comparison Operators

In [ ]:
1 < 2

In [ ]:
1 > 2

In [ ]:
1 <= 2

In [ ]:
1 >= 2

In [ ]:
1 == 2

In [ ]:
1 != 2

In [ ]:
"string" == "string"

In [ ]:
"string" == "spring"

### Inclusion/Exclusion

In [ ]:
wild_list = ["Hyena", "Zebra", "Bear", "Elephant"]

"Dog" in wild_list

In [ ]:
cats_list = ["Lion", "Tiger", "Cheetah", "Cougar"]

"Dog" not in cats_list

## Conditional Statements

In [ ]:
'''

if <condition>:
    block of code
--> blocks begin and end with indentation, traditionally 4 spaces

    if <condition>:
        block of code
        can be another if statement

if <condition>:
    block of code
'''

In [ ]:
if True:
    print("True")

In [ ]:
user_email = "jeff@amazon.com"
password = "bezos"

if user_email == "jeff@amazon.com":
    if password == "bezos":
        print("Access granted.")

In [ ]:
if 5<2: 
    print("True")

In [ ]:
'''

if <condition>:
    block of code
elif <condition):
    block of code

'''

In [ ]:
age = 9

if age < 10:
    print("Just a kid.")
elif age < 16:
    print("Can't drive yet!")
elif age < 21:
    print("No drinking for you!")

In [ ]:
'''

if <condition>:
    block of code
else:
    block of code

'''

In [ ]:
age = 25

if age < 10:
    print("Just a kid.")
elif age < 16:
    print("Can't drive yet!")
elif age < 21:
    print("No drinking for you!")
else:
    print("You're good to go!")

## for Loops

In [ ]:
# By default, range(10) starts at 0 and EXCLUDES the stop value
# Use list() to return a list of numbers

list(range(10))

In [ ]:
for number in range(10):
    print(number)

In [ ]:
# range(start, stop)

for num in range(90,101):
    print(num)

In [ ]:
my_list = [1, 11, 4, 44]

for thing in my_list:
    print(thing)

## List Comprehension

In [ ]:
a_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[num**2 for num in a_list]

In [ ]:
people = ["Sam", "Carol", "Mary", "Tim"]

[name for name in people if name not in ["Sam"]] + ["Sam"]

In [ ]:
test_scores = [75, 81, 62, 93, 54]

["Pass" if score >= 70 else "Fail" for score in test_scores]

---

## Functions

#### No parameters

In [ ]:
def say_hello():
    return "Hello"

In [ ]:
say_hello()

#### One parameter

In [ ]:
def age_check(age):
    if age < 18:
        return "Underage!"
    else:
        return "O.K."

In [ ]:
age_check(17)

#### Two parameters

In [ ]:
# Two parameters

def age_check_2(name, age):
    if age < 21:
        return f"{name}, you're too young to drink!"
    else:
        return f"{name}, you're O.K."

In [ ]:
age_check_2("Bill", 18)

---

#### Test multiple conditions

In [ ]:
def cheer_team(team):
    if team == "Stanford":
        return "Cardinal!"
    elif team == "USC":
        return "Trojans!"
    elif team == "Berkeley":
        return "Bears!"
    else:
        return "team!"

In [ ]:
print(f"Go {cheer_team('Stanford')}")